img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15px;
    box-shadow: 0 0 5px black;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inf {
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px black;
    transition: .2s;
}

.inf:hover {
    background-color: rgb(177, 170, 170);
    transform: scale(1.1);
}

button {
    padding: .5rem;
    border-radius: .4rem;
    margin: 5px;
    background-color: black;
    border: none;
    transition: .2s;
    cursor: pointer;
}

.git:hover {
    background-color: green;
    transform: scale(1.1);
}

.link:hover {
    background-color: rgb(2, 159, 250);
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
}