.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.container div {
    border: 1px solid black;
}

.item:first-child {
   grid-area: 1/ 1/ 4 / 4;
}