body {
    color: white;
    background-color: black;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 24px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

li {
    width: 180px;
    text-align: center;
    margin: 10px;
    margin-top: 50px;
    list-style: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 2px 1px 1px gray;
    transition: .3s;
}

li:hover {
    background-color: gray;
    transform: scale(1.1);
    
}

button {
    background-color: rgb(1, 56, 1);
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    transition: .3s;
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(4, 180, 4);
    transform: scale(1.1);
    
}